# EditorConfig is awesome: https://EditorConfig.org

# Extras : to configure git's pager for tab with of 4:
# $ git config core.pager 'less -x1,5'
#
# to configure optional text mode interface tig:
# $ git config tig.tab-size '4'

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
indent_size = 4
indent_style = tab
insert_final_newline = true
trim_trailing_whitespace = true

[lib/**]
indent_size = 2
indent_style = space
